/* ----------------GENERAL---------------- */

/* ----------------UTILITY---------------- */
.debug{
    background-color: rgba(255, 0, 0, .25);
    border: 1px solid black;
}

/* ---------------COMPONENTS--------------- */
.ms-container{
    height: 100vh;
    background-color: #8A2BE2;
}

.card{
    width: 30%;
}

.hide{
    display: none;
  }
/* -----------------HEADER----------------- */

/* ------------------MAIN------------------ */

/* -----------------FOOTER----------------- */