/* ----------------UTILITY---------------- */
.debug{
    background-color: rgba(255, 0, 0, .25);
    border: 1px solid black;
}

/* ---------------COMPONENTS--------------- */
.ms-container{
    height: 100vh;
    background-image: linear-gradient(to left top, #0d6efd, #3d4eb5, #383374, #251c3a, #030105);
}

.card{
    width: 30%;
}

.output-dadi .card{
    width: 100%;
}

/* ------------------MAIN------------------ */
.output-dadi i{
    font-size: 5rem;
    color: orange;
}

.author{
    display: flex;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.author a{
    text-decoration: none;
    color: white;
}